body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    max-width: 100%;
    overflow-x: auto;
    padding: 20px; /* Добавляем внутренний отступ для мобильных устройств */
}

h1 {
    text-align: center;
    margin-bottom: 20px; /* Уменьшаем отступ снизу для мобильных устройств */
    color: #333;
    font-size: 24px;
}

.payment-method {
    padding: 20px;
    border: 1px solid #e7e7e7;
    margin-bottom: 20px;
    border-radius: 6px;
    transition: background-color .2s;
}

.payment-method:hover {
    background-color: #f9f9f9;
}

.payment-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #555;
}

.wallet-id {
    background-color: #fafafa;
    padding: 10px;
    word-wrap: break-word;
    border-radius: 4px;
    font-size: 16px;
    color: #777;
}

.wallet-id:hover, .wallet-id:focus {
    background-color: #e9e9e9;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 480px) {
    .container {
        padding: 10px; /* Уменьшаем внутренний отступ для маленьких экранов */
    }

    h1 {
        font-size: 20px; /* Уменьшаем размер шрифта заголовка на маленьких экранах */
    }
}


